<?php echo $header; ?>
<main id="category">
	<div class="container">
		<div class="row padded">
			<div class="col-xs-12 text-center">
				<h2>Select your criteria</h2>
			</div>
		</div>
		<div id="criteria" class="row">
			<div class="col-lg-10 col-lg-offset-1 col-md-12 col-md-offset-0">
				<div class="row">
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="service">Service required:</label>
							</div>
							<div class="col-xs-6">
								<select name="service" id="service" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="level">Level required:</label>
							</div>
							<div class="col-xs-6">
								<select name="level" id="level" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="timezone">Time Zone:</label>
							</div>
							<div class="col-xs-6">
								<select name="timezone" id="timezone" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="environment">Environment:</label>
							</div>
							<div class="col-xs-6">
								<select name="environment" id="environment" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="title">Title:</label>
							</div>
							<div class="col-xs-6">
								<select name="title" id="title" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-6">
						<div class="row form-group">
							<div class="col-xs-6">
								<label class="control-label" for="rate">Rate:</label>
							</div>
							<div class="col-xs-6">
								<select name="rate" id="rate" class="form-control">
									<option>--- Unspecified ---</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="blue container-fluid">
		<div class="row padded">
			<div class="col-xs-12 text-center">
				<h2>Blue Ocean's Hand-picked Candidates</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div id="results" class="col-xs-12">
			<?php if($products): ?>
				<?php foreach(array_chunk($products, 3) as $row): ?>
					<div class="row">
						<?php foreach($row as $product): ?>
							<div class="col-sm-4">
								<div class="staff"<?=(isset($product['data']) && !empty($product['data']) ? ' '.implode(' ', $product['data']) : '');?>>
									<a href="<?php echo $product['href']; ?>" class="thumb" style="background-image: url(<?=$product['thumb'];?>);"></a>
									<h3><a href="<?=$product['href']; ?>"><?=$product['name']; ?></a></h3>
									<?php if(isset($product['attributes']['service'])): ?>
										<a href="<?=$product['href']; ?>" class="service"><?=$product['attributes']['service']['value']; ?></a>
									<?php endif; ?>
									<a href="<?=$product['href'];?>" class="readmore">
										<i class="fa fa-info-circle"></i>
										<span class="hover">Read More <i class="fa fa-long-arrow-right"></i></span>
									</a>
								</div>
							</div>
						<?php endforeach; ?>
					</div>
				<?php endforeach; ?>
			<?php else: ?>
				<p>No available staff at this time</p>
			<?php endif; ?>
			</div>
		</div>
	</div>
</main>
<?php if(false): ?>
<div class="container">
	<ul class="breadcrumb">
		<?php foreach ($breadcrumbs as $breadcrumb) { ?>
		<li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
		<?php } ?>
	</ul>
	<div class="row"><?php echo $column_left; ?>
		<?php if ($column_left && $column_right) { ?>
		<?php $class = 'col-sm-6'; ?>
		<?php } elseif ($column_left || $column_right) { ?>
		<?php $class = 'col-sm-9'; ?>
		<?php } else { ?>
		<?php $class = 'col-sm-12'; ?>
		<?php } ?>
		<div id="content" class="<?php echo $class; ?>"><?php echo $content_top; ?>
			<h2><?php echo $heading_title; ?></h2>
			<?php if ($thumb || $description) { ?>
			<div class="row">
				<?php if ($thumb) { ?>
				<div class="col-sm-2"><img src="<?php echo $thumb; ?>" alt="<?php echo $heading_title; ?>" title="<?php echo $heading_title; ?>" class="img-thumbnail" /></div>
				<?php } ?>
				<?php if ($description) { ?>
				<div class="col-sm-10"><?php echo $description; ?></div>
				<?php } ?>
			</div>
			<hr>
			<?php } ?>
			<?php if ($categories) { ?>
			<h3><?php echo $text_refine; ?></h3>
			<?php if (count($categories) <= 5) { ?>
			<div class="row">
				<div class="col-sm-3">
					<ul>
						<?php foreach ($categories as $category) { ?>
						<li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
						<?php } ?>
					</ul>
				</div>
			</div>
			<?php } else { ?>
			<div class="row">
				<?php foreach (array_chunk($categories, ceil(count($categories) / 4)) as $categories) { ?>
				<div class="col-sm-3">
					<ul>
						<?php foreach ($categories as $category) { ?>
						<li><a href="<?php echo $category['href']; ?>"><?php echo $category['name']; ?></a></li>
						<?php } ?>
					</ul>
				</div>
				<?php } ?>
			</div>
			<?php } ?>
			<?php } ?>
			<?php if ($products) { ?>
			<div class="row">
				<div class="col-md-2 col-sm-6 hidden-xs">
					<div class="btn-group btn-group-sm">
						<button type="button" id="list-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_list; ?>"><i class="fa fa-th-list"></i></button>
						<button type="button" id="grid-view" class="btn btn-default" data-toggle="tooltip" title="<?php echo $button_grid; ?>"><i class="fa fa-th"></i></button>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="form-group">
						<a href="<?php echo $compare; ?>" id="compare-total" class="btn btn-link"><?php echo $text_compare; ?></a>
					</div>
				</div>
				<div class="col-md-4 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-sort"><?php echo $text_sort; ?></label>
						<select id="input-sort" class="form-control" onchange="location = this.value;">
							<?php foreach ($sorts as $sorts) { ?>
							<?php if ($sorts['value'] == $sort . '-' . $order) { ?>
							<option value="<?php echo $sorts['href']; ?>" selected="selected"><?php echo $sorts['text']; ?></option>
							<?php } else { ?>
							<option value="<?php echo $sorts['href']; ?>"><?php echo $sorts['text']; ?></option>
							<?php } ?>
							<?php } ?>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-xs-6">
					<div class="form-group input-group input-group-sm">
						<label class="input-group-addon" for="input-limit"><?php echo $text_limit; ?></label>
						<select id="input-limit" class="form-control" onchange="location = this.value;">
							<?php foreach ($limits as $limits) { ?>
							<?php if ($limits['value'] == $limit) { ?>
							<option value="<?php echo $limits['href']; ?>" selected="selected"><?php echo $limits['text']; ?></option>
							<?php } else { ?>
							<option value="<?php echo $limits['href']; ?>"><?php echo $limits['text']; ?></option>
							<?php } ?>
							<?php } ?>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<?php foreach ($products as $product) { ?>
				<div class="product-layout product-list col-xs-12">
					<div class="product-thumb">
						<div class="image"><a href="<?php echo $product['href']; ?>"><img src="<?php echo $product['thumb']; ?>" alt="<?php echo $product['name']; ?>" title="<?php echo $product['name']; ?>" class="img-responsive" /></a></div>
						<div>
							<div class="caption">
								<h4><a href="<?php echo $product['href']; ?>"><?php echo $product['name']; ?></a></h4>
								<p><?php echo $product['description']; ?></p>
								<?php if ($product['price']) { ?>
								<p class="price">
									<?php if (!$product['special']) { ?>
									<?php echo $product['price']; ?>
									<?php } else { ?>
									<span class="price-new"><?php echo $product['special']; ?></span> <span class="price-old"><?php echo $product['price']; ?></span>
									<?php } ?>
									<?php if ($product['tax']) { ?>
									<span class="price-tax"><?php echo $text_tax; ?> <?php echo $product['tax']; ?></span>
									<?php } ?>
								</p>
								<?php } ?>
								<?php if ($product['rating']) { ?>
								<div class="rating">
									<?php for ($i = 1; $i <= 5; $i++) { ?>
									<?php if ($product['rating'] < $i) { ?>
									<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
									<?php } else { ?>
									<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
									<?php } ?>
									<?php } ?>
								</div>
								<?php } ?>
							</div>
							<div class="button-group">
								<button type="button" onclick="cart.add('<?php echo $product['product_id']; ?>', '<?php echo $product['minimum']; ?>');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md"><?php echo $button_cart; ?></span></button>
								<button type="button" data-toggle="tooltip" title="<?php echo $button_wishlist; ?>" onclick="wishlist.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-heart"></i></button>
								<button type="button" data-toggle="tooltip" title="<?php echo $button_compare; ?>" onclick="compare.add('<?php echo $product['product_id']; ?>');"><i class="fa fa-exchange"></i></button>
							</div>
						</div>
					</div>
				</div>
				<?php } ?>
			</div>
			<div class="row">
				<div class="col-sm-6 text-left"><?php echo $pagination; ?></div>
				<div class="col-sm-6 text-right"><?php echo $results; ?></div>
			</div>
			<?php } ?>
			<?php if (!$categories && !$products) { ?>
			<p><?php echo $text_empty; ?></p>
			<div class="buttons">
				<div class="pull-right"><a href="<?php echo $continue; ?>" class="btn btn-primary"><?php echo $button_continue; ?></a></div>
			</div>
			<?php } ?>
			<?php echo $content_bottom; ?></div>
		<?php echo $column_right; ?></div>
</div>
<?php endif; ?>
<?php echo $footer; ?>
